### **At First we load our Required Libraries**

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import chardet
import seaborn as sns

#### **Load the Dataset**

In [2]:
df = pd.read_csv('../datasets/alumni_dataset.csv', encoding='latin1')
##
df.head()

,Employment Captured Date,Person Full Name,Person First Name,Person Last Name,Person URL,Employment Title,Job Title Category,Employment Company Name,Employment Start Month,Employment Start Year,...,Company Details Size,Company Type,Location City,Location State,Location Country,Education Major,Education Subject,Education Degree,Education Start Date,Education End Date
0,28/03/2023,Andi Dickmeyer,Andi,Dickmeyer,https://www.linkedin.com/in/andreadickmeyer,Provisional Psychologist,Doctor,NSW Health,2.0,2023,...,10001+ employees,Government Agency,Newcastle,New South Wales,Australia,NaN,Clinical Psychology,Master's Degree,NaN,2022
1,28/03/2023,Prudence Lawrence,Prudence,Lawrence,https://www.linkedin.com/in/prudencelawrence,Program Manager | Geospatial and Emerging Tech...,Manager,Australian Spatial Analytics,2.0,2023,...,501-1000 employees,Government Agency,Brisbane City,Queensland,Australia,Geographic Information Science and Cartography,Spatial Science,Bachelor's Degree,2021,2021
2,28/03/2023,Cassandra K. Bugir,Cassandra,Bugir,https://www.linkedin.com/in/cassandrabugir,Ecologist,Researcher,Kleinfelder Australia,4.0,2023,...,1001-5000 employees,Privately Held,Newcastle,New South Wales,Australia,"Biology/Biological Sciences, General",Biology,PhD,2018,2021
3,28/03/2023,Lindsey (Clarkson) Jarvis,Lindsey,Jarvis,https://www.linkedin.com/in/lindsey-jarvis,CS Training Manager,Manager,Toast,3.0,2023,...,1001-5000 employees,Public Company,Summerville,South Carolina,USA,BBA,Business,Exchange Program from Overseas,2004,2004
4,13/04/2023,Nicola Howard,Nicola,Howard,https://www.linkedin.com/in/nicola-howard-9232...,Senior Administrative Assistant,Assistant,Government of British Columbia,3.0,2023,...,10001+ employees,Government Agency,Victoria,British Columbia,Canada,Museology/Museum Studies,Arts,Master's Degree,2011,2012

#### **These are the columns of our Dataset**

In [3]:
df.columns

Index(['Employment Captured Date', 'Person Full Name', 'Person First Name',
       'Person Last Name', 'Person URL', 'Employment Title',
       'Job Title Category', 'Employment Company Name',
       'Employment Start Month', 'Employment Start Year',
       'Company Industry Name', 'Company Details Size', 'Company Type',
       'Location City', 'Location State', 'Location Country',
       'Education Major', 'Education Subject', 'Education Degree',
       'Education Start Date', 'Education End Date'],
      dtype='object')

In [4]:
# Filter rows where 'Education Subject' column is 'Business'
df = df[df['Education Subject'] == 'Business']

In [25]:
unique_city = df['Location City'].unique()
unique_city.sort()
print(f"{unique_city}")

TypeError: '<' not supported between instances of 'float' and 'str'

In [23]:

unique_country = df['Location Country'].unique()
unique_country.sort()
print(f"{unique_country}")

['Australia' 'Canada' 'China' 'Finland' 'India' 'Netherlands' 'Norway'
 'Singapore' 'USA' 'United Arab Emirates' 'United Kingdom']

In [22]:

unique_type = df['Company Type'].unique()
unique_type.sort()
print(f"{unique_type}")

['Educational' 'Educational Institution' 'Government Agency' 'Non Profit'
 'Nonprofit' 'Partnership' 'Privately Held' 'Public Company'
 'Sole Proprietorship']

In [21]:
unique_size = df['Company Details Size'].unique()
unique_size.sort()
print(f"{unique_size}")

['1-10 employees' '10001+ employees' '1001-5000 employees'
 '11-50 employees' '2-10 employees' '201-500 employees'
 '5001-10000 employees' '501-1000 employees' '51-200 employees']

In [20]:
unique_industry = df['Company Industry Name'].unique()
unique_industry.sort()
print(f"{unique_industry}")

['Accounting' 'Banking' 'Building Materials'
 'Business Consulting and Services' 'Chemicals' 'Computer Software'
 'Construction' 'Consultation' 'Defense and Space Manufacturing'
 'Design Services' 'Education' 'Education Management'
 'Environmental Services' 'Financial Services'
 'Food and Beverage Services' 'Government Administration'
 'Health, Wellness and Fitness' 'Higher Education'
 'Hospital & Health Care' 'Hospitality' 'Human Resources' 'IT Service'
 'IT Services and IT Consulting' 'Industrial Machinery Manufacturing'
 'Information Technology and Services' 'Insurance' 'Internet Publishing'
 'Investment Management' 'Law Practice' 'Machinery'
 'Machinery Manufacturing' 'Management Consulting'
 'Marketing and Advertising' 'Mining' 'Mining & Metals'
 'Museums and Institutions' 'Newspaper Publishing'
 'Non-profit Organizations' 'Nonprofit Organization Management'
 'Oil & Energy' 'Packaging and Containers' 'Pharmaceutical Manufacturing'
 'Plastics' 'Primary/Secondary Education' 'Real Estate' 'Research'
 'Research Services' 'Retail' 'Retail Apparel and Fashion'
 'Software Development' 'Sports' 'Staffing and Recruiting'
 'Telecommunications' 'Transportation/Trucking/Railroad' 'Utilities'
 'steel and building materials manufacturer']

In [19]:
unique_company = df['Employment Company Name'].unique()
unique_company.sort()
print(f"{unique_company}")

['ACN Pacific' 'ACT Education Directorate' 'ARTC' 'AVet Health Ltd'
 'Advitech' 'Alcoa of Australia Limited' 'Alexandria Moulding'
 'Andrew Sparks' 'AngloGold Ashanti'
 'Australian College of Perioperative Nurses (ACORN)'
 'Australian Digital Health Agency'
 'Australian Doctors International (ADI)'
 'Australian Government Department of Finance' 'Australian Museum'
 'Australian Psychological Services' 'Australian Red Cross'
 'Barnardos Australia' 'Bradken' 'CPS Technology & Infrastructure Pty Ltd'
 'Campbelltown City Council' 'Catherine Henry Lawyers'
 'Centre for Children and Young People'
 'Chamberlain Brown Property Acquisitions' 'Citadel' 'City of Melbourne'
 'CityFibre' 'CoAct' 'Commonwealth Bank' 'Defence Australia'
 'Dolphins NRL' 'EXYTE U.S., INC.' 'Element Materials Technology'
 'Emirates Steel Arkan' 'Employment Hero' 'Energy One Limited'
 'Essential Energy' 'FT Consulting' 'Financial Times'
 'Foresight Consulting' 'Forest Ave Outreach' 'Fortnum' 'GE HealthCare'
 'GenesisCare' 'Glencore Australia' 'Goodstart Early Learning' 'Google'
 'Hilton' 'Hollier Law' 'Inaburra School' 'InfoSecAssure'
 'Innovations Academy' 'Insight IT & Engineering Recruitment'
 'Iplex Pipelines' 'Iress' 'KPMG UK' 'La Trobe University'
 'Larsen & Toubro' 'Loom Decor' 'Lumea' 'Macquarie University'
 'Metso Outotec' 'Microsoft' 'Monash Health' 'NAB' 'NGH'
 'NSW Department of Planning and Environment'
 'National Acoustic Laboratories' 'National Disability Insurance Agency'
 'Neuberger Berman' 'Nigel J Barling Pty Ltd'
 'Novartis, Australia & New Zealand' 'Oak Hill Asset Management Inc'
 'Onsite Rental Group' 'Orica' 'OsloMet storbyuniversitetet' 'PepsiCo'
 'Principles for Responsible Investment' 'ProsperOps' 'PwC Australia'
 'Queensland Health' 'Relocity, Inc.' 'Roche Group' 'Rugby India'
 'SARA LEE HOLDINGS PTY. LTD' 'SPARC Group LLC'
 'SW Accountants & Advisors' 'Samsara' 'Securus Consulting Group'
 'Southern Alberta Institute of Technology (SAIT)'
 'Southern Cross University' 'Tactix-Sener Group'
 'The University of Sydney Business School' 'Toast'
 'Torfaen County Borough Council' 'Town of Port Hedland' 'Travelex'
 'TricorBraun' 'Tweddle Child and Family Health Service' 'UWV'
 'Uniting Communities' 'University of Newcastle' 'Visy'
 'Water Treatment Services' 'Wessex Water' 'Westpac' 'Westpac Group'
 'Zenviron' 'iFin Advisory' 'icare NSW' 'nbn Australia']

In [18]:
unique_title = df['Employment Title'].unique()
unique_title.sort()
print(f"{unique_title}")

['A/g Assistant Director Workplace Relations' 'Acting Service Manager'
 'Architectural Design Manager'
 'Asia Treasurer & Singapore Country Manager'
 'Assistant Director, Entry Level Program Management'
 'Assistant Exhibitions Producer' 'Board Treasurer'
 'Board member and Chair of the Audit and Risk Committee'
 'Brand & Marketing Manager - Cardiology, Sleep & Respiratory Medicine'
 'Business Analyst' 'Business Excellence and Improvement Lead'
 'Business Specialist' 'CS Training Manager'
 'Centre for Leadership Excellence Principal Consultant, Culture and Capability'
 'Chief Customer Officer'
 'Chief Responsible Investment and Signatory Relations Officer'
 'Client Data Governance Lead' 'Client Sales Manager' 'Co-Founder'
 'Communications Advisor (Marketing)' 'Consultant'
 'Deputy Vice-Chancellor Future Growth' 'Design Manager - City Projects'
 'Digital Marketing Coordinator' 'Digital Transformation Specialist'
 'Director Corporate Communications' 'Director, Executive Education'
 'Diversity and Inclusion Manager' 'Dual Brand Bank Manager'
 'Engineering Project Manager' 'Environmental Support Technician'
 'Executive Administration' 'Founder & Principal Lawyer'
 'GM Sales & Marketing' 'GRC Consultant' 'General Manager'
 'General Manager Asset Maintenance' 'Global Head of People & Culture'
 'HR Solutions Specialist' 'HR Support Consultant'
 'Head of Composites Program' 'Head of People and Governance'
 'Head of Product, Partnerships & Customer Excellence - Australia & New Zealand'
 'Human Resources Business Partner, Global Functions'
 'Human Resources Director' 'Human Resources Manager'
 'Independent Director' 'Interim Chief Executive Officer'
 'Interim Corporate Services Director' 'Intermediate Consultant'
 'Key Account Management' 'L&OD Lead'
 'Learning and Transformation Partner' 'Lecturer/Course Coordinator'
 'MBA Coordinator' 'Manager - IP and Technology & Innovation Governance'
 'Manager - People Consulting, HR Transformation'
 'Manager Contestable Network Solutions'
 'Manager Learning and Development' 'Manager Sustainability'
 'Manager, Line 1 Risk, IfNSW & HBCF' 'Managing Partner'
 'Mandarin Language Teacher' 'Marketing Assistant'
 'Marketing and Communications Manager' 'National MDU Operations Manager'
 'National Risk Systems Lead' 'National Sales Manager (Interim)'
 'Operations Analyst II' 'Operations Engineer (Marine Manager)'
 'Outside Sales Representative' 'Packaging Consultant'
 'Paraplanner and Research Officer' 'Partner' 'Planner'
 'Planning and Delivery Specialist' 'Planning and Performance Manager'
 'Practice Engagement & Growth Manager' 'Principal' 'Principal Analyst'
 'Principal Psychologist' 'Product Designer' 'Product Manager'
 'Product Owner [Via Capgemini]' 'Project Director' 'Project Manager'
 'Project Manager - Sydney' 'Project Manager, Interoperability'
 'Property Advisor' 'React Practice Lead' 'Recover@Work Partner'
 'Relationship Manager - Commercial (Financial Markets)'
 'Research Officer - ARC DECRA Project' 'SAED Project Manager'
 'SAIT Business School Instructor' 'Safety Quality Environment Manager'
 'Senior Associate' 'Senior Associate Consultant (Healthcare)'
 'Senior Business Analyst, Enterprise & Strategic Data Technology'
 'Senior Coast and Estuaries Officer'
 'Senior Manager, Global Enterprise Marketing'
 'Senior Marketing Executive, Audience Data' 'Senior Research Audiologist'
 'Senior Software Engineer' 'Seniorrdgiver HR' 'Solicitor'
 'Special Education Teacher (Mild/Moderate)'
 'Staff Officer - US Requirements, Force Posture Initiatives'
 'Strategic Coordinator' 'Supply Chain Finance Sr Manager - M&W'
 'Systems Manager' 'technology program']

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 116 entries, 3 to 840
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Employment Captured Date  116 non-null    object
 1   Person Full Name          116 non-null    object
 2   Person First Name         116 non-null    object
 3   Person Last Name          116 non-null    object
 4   Person URL                116 non-null    object
 5   Employment Title          116 non-null    object
 6   Job Title Category        3 non-null      object
 7   Employment Company Name   116 non-null    object
 8   Employment Start Month    116 non-null    float64
 9   Employment Start Year     116 non-null    int64
 10  Company Industry Name     116 non-null    object
 11  Company Details Size      116 non-null    object
 12  Company Type              116 non-null    object
 13  Location City             106 non-null    object
 14  Location State            106 non-null    object
 15  Location Country          116 non-null    object
 16  Education Major           116 non-null    object
 17  Education Subject         116 non-null    object
 18  Education Degree          116 non-null    object
 19  Education Start Date      96 non-null     object
 20  Education End Date        100 non-null    object
dtypes: float64(1), int64(1), object(19)
memory usage: 19.9+ KB

In [6]:
df.head()

,Employment Captured Date,Person Full Name,Person First Name,Person Last Name,Person URL,Employment Title,Job Title Category,Employment Company Name,Employment Start Month,Employment Start Year,...,Company Details Size,Company Type,Location City,Location State,Location Country,Education Major,Education Subject,Education Degree,Education Start Date,Education End Date
3,28/03/2023,Lindsey (Clarkson) Jarvis,Lindsey,Jarvis,https://www.linkedin.com/in/lindsey-jarvis,CS Training Manager,Manager,Toast,3.0,2023,...,1001-5000 employees,Public Company,Summerville,South Carolina,USA,BBA,Business,Exchange Program from Overseas,2004,2004
8,28/03/2023,Molly Mckay,Molly,Mckay,https://www.linkedin.com/in/molly-mckay-3bb3bbb2,A/g Assistant Director Workplace Relations,Director,ACT Education Directorate,4.0,2023,...,5001-10000 employees,Government Agency,Canberra,Australian Capital Territory,Australia,Human Resources Management,Business,Master's Degree,2020,2023
15,28/03/2023,Tanja Blickfeldt JÃ¢Â€Â™rgensen,Tanja,JÃ¢Â€Â™rgensen,https://www.linkedin.com/in/tanjablickfeldt,Seniorrdgiver HR,Manager,OsloMet storbyuniversitetet,3.0,2023,...,1001-5000 employees,Educational Institution,Kristiansand,Agder,Norway,MBA,Business,Master's Degree,2002,2002
24,04/04/2023,Ellen Higginbottom,Ellen,Higginbottom,https://www.linkedin.com/in/ellen-higginbottom...,Solicitor,NaN,Catherine Henry Lawyers,6.0,2023,...,11-50 employees,Sole Proprietorship,Newcastle,New South Wales,Australia,BBA,Business,Bachelor's Degree,NaN,NaN
41,11/08/2023,Umit Agis,Umit,Agis,https://www.linkedin.com/in/umit-agis-gaicd-85...,Interim Chief Executive Officer,NaN,Tweddle Child and Family Health Service,6.0,2023,...,11-50 employees,Non Profit,Wantirna,Victoria,Australia,"Business Administration and Management, General",Business,PhD,2011,2015

In [7]:
df['Company Industry Name'].unique()

array(['Software Development', 'Primary/Secondary Education',
       'Higher Education', 'Law Practice', 'Hospital & Health Care',
       'Chemicals', 'Business Consulting and Services',
       'Defense and Space Manufacturing', 'IT Services and IT Consulting',
       'Human Resources', 'Utilities', 'Banking', 'Telecommunications',
       'Government Administration', 'Food and Beverage Services',
       'Management Consulting', 'Nonprofit Organization Management',
       'Research Services', 'Education Management', 'Construction',
       'Education', 'Financial Services', 'Environmental Services',
       'steel and building materials manufacturer',
       'Transportation/Trucking/Railroad', 'Consultation',
       'Mining & Metals', 'Newspaper Publishing', 'Mining',
       'Marketing and Advertising', 'Hospitality', 'Retail', 'Research',
       'Building Materials', 'Internet Publishing',
       'Non-profit Organizations', 'Accounting',
       'Museums and Institutions', 'Packaging and Containers',
       'Computer Software', 'Machinery', 'Machinery Manufacturing',
       'Information Technology and Services', 'Investment Management',
       'Real Estate', 'Health, Wellness and Fitness',
       'Pharmaceutical Manufacturing', 'Design Services', 'Sports',
       'Oil & Energy', 'Retail Apparel and Fashion', 'Insurance',
       'IT Service', 'Staffing and Recruiting', 'Plastics',
       'Industrial Machinery Manufacturing'], dtype=object)

In [8]:
df['Education Major'].unique()

array(['BBA', 'Human Resources Management', 'MBA',
       'Business Administration and Management, General',
       'Business, Management, Marketing, and Related Support Services',
       'Business Psychology', 'Business Administration Marketing',
       'International Business, Sociology, Philosophy',
       'International Business', 'Business and Environmental Managment',
       'Environmental and Business Management',
       'Marketing and Management', 'Industrial Relations',
       'Marketing and International Business',
       'Business Economics and Marketing', 'Strategic Management',
       'Marketing, Public Relations',
       'Information Technology and International Business',
       'Business Economics with Marketing and Psychology',
       'Business Management', 'Human Resource Management',
       'Graduate Certificate',
       'Accounting, Finance, & International Business',
       'International Business and Management',
       'Business/Commerce, General', 'Marketing & Management',
       'Environment and Business',
       'Business Administration and Management',
       'Doctor of Business Administration', 'International Busienss',
       'Entrepreneurship/Entrepreneurial Studies'], dtype=object)

In [79]:
df['Location City'].unique()

array(['Summerville', 'Canberra', 'Kristiansand', 'Newcastle', 'Wantirna',
       'Sydney', 'Brisbane', 'Waratah', 'Bristol', 'Newland', 'Pontypool',
       'New York City Metropolitan Area', 'Cecil St', 'Des Moines',
       'Melbourne', 'Kirrawee', 'Braemar', 'Mumbai', 'North Mackay',
       'Brooklyn', 'Newcastle East', 'Dubai', 'Gracetown', 'Perth',
       'Forresters Beach', "Saint Paul's", nan, 'Ulan', 'Washington',
       'Columbia', 'Gold Coast', 'Helsinki', 'Del Mar',
       'Minneapolis-St. Paul', 'Sunshine Coast', 'Olympia', 'Austin',
       'Nambucca Heads', 'Glasgow', 'London', 'Central Coast',
       'South Hobart', 'Halls Head', 'The Junction', 'Toronto', 'Lithgow',
       'Port Macquarie', 'Erskineville', 'New York', 'Charlotte',
       'Gosford', 'Manchester', 'Adelaide', 'The Randstad',
       'San Francisco', 'Edinburgh'], dtype=object)

In [80]:
df['Location Country'].unique()

array(['USA', 'Australia', 'Norway', 'United Kingdom', 'Singapore',
       'India', 'United Arab Emirates', 'Finland', 'Canada', 'China',
       'Netherlands'], dtype=object)

In [81]:
df['Location State'].unique()

array(['South Carolina', 'Australian Capital Territory', 'Agder',
       'New South Wales', 'Victoria', 'Queensland', 'England', 'Wales',
       nan, 'The Globe', 'Iowa', 'Maharashtra', 'New York', 'Dubai',
       'Western Australia', 'District of Columbia', 'Uusimaa',
       'California', 'Minnesota', 'Washington', 'Texas', 'Tasmania',
       'Ontario', 'Hong Kong', 'North Carolina', 'South Australia',
       'Scotland'], dtype=object)

## **Descriptive Analysis**

### **Education Degree**

#### Alumni Count by Education Degree

In [ ]:
# # Assuming 'df' is your DataFrame with the alumni data

# plt.figure(figsize=(10,6))

# df['Education Degree'].value_counts().plot(kind='bar')
# plt.xlabel('Education Degree')
# plt.ylabel('Count')
# plt.title('Alumni Count by Education Degree')
# plt.show()

import matplotlib.pyplot as plt

plt.figure(figsize=(10, 8))

# Get the value counts
value_counts = df['Education Major'].value_counts().head(15)

# Calculate the total count
total_count = value_counts.sum()

# Calculate percentages
percentages = (value_counts / total_count) * 100

# Plot the bar chart
ax = value_counts.plot(kind='bar')

# Add count and percentage labels above each bar in vertical alignment
for i, (count, percentage) in enumerate(zip(value_counts, percentages)):
    plt.text(i, count + 1, f"{count}({percentage:.2f}%)", ha='center', va='bottom')
    # plt.text(i, count - 3, f"({percentage:.2f}%)", ha='center', va='top', rotation=90)

# Set labels and title
plt.xlabel('Education Major')
plt.ylabel('Count')
plt.title('Alumni Count and Percentage by Education Major')

# Add description at the top right corner
description = "This chart displays the count and percentage of alumni by education Degree."
plt.text(0.85, 0.95, description, transform=ax.transAxes, fontsize=10, ha='right', va='top')

# Show the chart
plt.tight_layout()  # Ensure the labels fit within the figure
plt.show()

#### Percentage of Education Degree

In [ ]:
# Replace 'Education Degree' with the column name you want to use
column_name = 'Education Major'

# Count the occurrences of each unique value in the specified column
value_counts = df[column_name].value_counts().head(5)

# Create a pie chart
plt.figure(figsize=(10,10))
plt.pie(value_counts, labels=value_counts.index, autopct='%1.1f%%', startangle=140)

# Add a title
plt.title('Distribution of Alumni by Education Degree')

# Display the chart
plt.axis('equal')
plt.show()

#### Alumni Count by Education Major

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 8))

# Get the value counts
value_counts = df['Education Degree'].value_counts().head(15)

# Calculate the total count
total_count = 843

# Calculate percentages
percentages = (value_counts / total_count) * 100

# Plot the bar chart
ax = value_counts.plot(kind='bar')

# Add count and percentage labels above each bar in vertical alignment
for i, (count, percentage) in enumerate(zip(value_counts, percentages)):
    plt.text(i, count + 1, f"{count}", ha='center', va='bottom')
    plt.text(i, count - 3, f"({percentage:.2f}%)", ha='center', va='top', rotation=90)

# Set labels and title
plt.xlabel('Education Subject')
plt.ylabel('Count')
plt.title('Alumni Count and Percentage by Education Subject')

# Add description at the top right corner
# description = "This chart displays the count and percentage of alumni by education subject."
# plt.text(0.85, 0.95, description, transform=ax.transAxes, fontsize=10, ha='right', va='top')

# Show the chart
plt.tight_layout()  # Ensure the labels fit within the figure
plt.show()

#### Percentage of Education Major

In [ ]:
# Replace 'Education Degree' with the column name you want to use
column_name = 'Education Degree'

# Count the occurrences of each unique value in the specified column
value_counts = df[column_name].value_counts().head(10)

# Create a pie chart
plt.figure(figsize=(10,10))
plt.pie(value_counts, labels=value_counts.index, autopct='%1.1f%%', startangle=140)

# Add a title
plt.title('Distribution of Alumni by Education Subject')

# Display the chart
plt.axis('equal')
plt.show()

#### Alumni Count by Location Country

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 8))

# Get the value counts
value_counts = df['Location Country'].value_counts().head(10)

# Calculate the total count
total_count = 843

# Calculate percentages
percentages = (value_counts / total_count) * 100

# Plot the bar chart
ax = value_counts.plot(kind='bar')

# Add count and percentage labels above each bar in vertical alignment
for i, (count, percentage) in enumerate(zip(value_counts, percentages)):
    plt.text(i, count + 1, f"{count}({percentage:.2f}%)", ha='center', va='bottom')
    # plt.text(i, count - 3, f"({percentage:.2f}%)", ha='center', va='top', rotation=90)

# Set labels and title
plt.xlabel('Location Country')
plt.ylabel('Count')
plt.title('Alumni Count and Percentage by Location Country')

# Add description at the top right corner
# description = "This chart displays the count and percentage of alumni by Location Country."
# plt.text(0.85, 0.95, description, transform=ax.transAxes, fontsize=10, ha='right', va='top')

# Show the chart
plt.tight_layout()  # Ensure the labels fit within the figure
plt.show()

#### Distribution of Alumni by Location Country

In [ ]:
# Replace 'Education Degree' with the column name you want to use
column_name = 'Location Country'

# Count the occurrences of each unique value in the specified column
value_counts = df[column_name].value_counts().head(5)

# Create a pie chart
plt.figure(figsize=(10,10))
plt.pie(value_counts, labels=value_counts.index, autopct='%1.1f%%', startangle=140)

# Add a title
plt.title('Distribution of Alumni by Location Country')

# Display the chart
plt.axis('equal')
plt.show()

#### Alumni Count by Location State

In [ ]:

import matplotlib.pyplot as plt

plt.figure(figsize=(10, 8))

# Get the value counts
value_counts = df['Location State'].value_counts().head(10)

# Calculate the total count
total_count = 843

# Calculate percentages
percentages = (value_counts / total_count) * 100

# Plot the bar chart
ax = value_counts.plot(kind='bar')

# Add count and percentage labels above each bar in vertical alignment
for i, (count, percentage) in enumerate(zip(value_counts, percentages)):
    plt.text(i, count + 1, f"{count}({percentage:.2f}%)", ha='center', va='bottom')
    # plt.text(i, count - 3, f"({percentage:.2f}%)", ha='center', va='top', rotation=90)

# Set labels and title
plt.xlabel('Location State')
plt.ylabel('Count')
plt.title('Alumni Count and Percentage by Location State')

# Add description at the top right corner
# description = "This chart displays the count and percentage of alumni by Location State."
# plt.text(0.85, 0.95, description, transform=ax.transAxes, fontsize=10, ha='right', va='top')

# Show the chart
plt.tight_layout()  # Ensure the labels fit within the figure
plt.show()

#### Distribution of Alumni by Location State

In [ ]:
# Replace 'Education Degree' with the column name you want to use
column_name = 'Location State'

# Count the occurrences of each unique value in the specified column
value_counts = df[column_name].value_counts().head(8)

# Create a pie chart
plt.figure(figsize=(10,10))
plt.pie(value_counts, labels=value_counts.index, autopct='%1.1f%%', startangle=140)

# Add a title
plt.title('Distribution of Alumni by Location State')

# Display the chart
plt.axis('equal')
plt.show()

#### Alumni Count by Location City

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 8))

# Get the value counts
value_counts = df['Location City'].value_counts().head(10)

# Calculate the total count
total_count = 843

# Calculate percentages
percentages = (value_counts / total_count) * 100

# Plot the bar chart
ax = value_counts.plot(kind='bar')

# Add count and percentage labels above each bar in vertical alignment
for i, (count, percentage) in enumerate(zip(value_counts, percentages)):
    plt.text(i, count + 1, f"{count}({percentage:.2f}%)", ha='center', va='bottom')
    # plt.text(i, count - 3, f"({percentage:.2f}%)", ha='center', va='top', rotation=90)

# Set labels and title
plt.xlabel('Location City')
plt.ylabel('Count')
plt.title('Alumni Count and Percentage by Location City')

# Add description at the top right corner
# description = "This chart displays the count and percentage of alumni by Location City."
# plt.text(0.85, 0.95, description, transform=ax.transAxes, fontsize=10, ha='right', va='top')

# Show the chart
plt.tight_layout()  # Ensure the labels fit within the figure
plt.show()

#### Distribution of Alumni by Location City

In [ ]:
# Replace 'Education Degree' with the column name you want to use
column_name = 'Location City'

# Count the occurrences of each unique value in the specified column
value_counts = df[column_name].value_counts().head(8)

# Create a pie chart
plt.figure(figsize=(10,10))
plt.pie(value_counts, labels=value_counts.index, autopct='%1.1f%%', startangle=140)

# Add a title
plt.title('Distribution of Alumni by Location City')

# Display the chart
plt.axis('equal')
plt.show()

#### Alumni Count by Industry

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 8))

# Get the value counts
value_counts = df['Company Industry Name'].value_counts().head(10)

# Calculate the total count
total_count = 843

# Calculate percentages
percentages = (value_counts / total_count) * 100

# Plot the bar chart
ax = value_counts.plot(kind='bar')

# Add count and percentage labels above each bar in vertical alignment
for i, (count, percentage) in enumerate(zip(value_counts, percentages)):
    plt.text(i, count + 1, f"{count}({percentage:.2f}%)", ha='center', va='bottom')
    # plt.text(i, count - 3, f"({percentage:.2f}%)", ha='center', va='top', rotation=90)

# Set labels and title
plt.xlabel('Company Industry Name')
plt.ylabel('Count')
plt.title('Alumni Count and Percentage by Company Industry Name')

# Add description at the top right corner
# description = "This chart displays the count and percentage of alumni by Company Industry Name."
# plt.text(0.85, 0.95, description, transform=ax.transAxes, fontsize=10, ha='right', va='top')

# Show the chart
plt.tight_layout()  # Ensure the labels fit within the figure
plt.show()

#### Distribution of Alumni by Industry

In [ ]:
# Replace 'Education Degree' with the column name you want to use
column_name = 'Company Industry Name'

# Count the occurrences of each unique value in the specified column
value_counts = df[column_name].value_counts().head(8)

# Create a pie chart
plt.figure(figsize=(10,10))
plt.pie(value_counts, labels=value_counts.index, autopct='%1.1f%%', startangle=140)

# Add a title
plt.title('Distribution of Alumni by Industry')

# Display the chart
plt.axis('equal')
plt.show()

#### Alumni Count by Company Size

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 8))

# Get the value counts
value_counts = df['Company Details Size'].value_counts().head(10)

# Calculate the total count
total_count = 843

# Calculate percentages
percentages = (value_counts / total_count) * 100

# Plot the bar chart
ax = value_counts.plot(kind='bar')

# Add count and percentage labels above each bar in vertical alignment
for i, (count, percentage) in enumerate(zip(value_counts, percentages)):
    plt.text(i, count + 1, f"{count}({percentage:.2f}%)", ha='center', va='bottom')
    # plt.text(i, count - 3, f"({percentage:.2f}%)", ha='center', va='top', rotation=90)

# Set labels and title
plt.xlabel('Company Details Size')
plt.ylabel('Count')
plt.title('Alumni Count and Percentage by Company Details Size')

# Add description at the top right corner
# description = "This chart displays the count and percentage of alumni by Company Details Size."
# plt.text(0.85, 0.95, description, transform=ax.transAxes, fontsize=10, ha='right', va='top')

# Show the chart
plt.tight_layout()  # Ensure the labels fit within the figure
plt.show()

#### Distribution of Alumni by Company Size

In [ ]:
# Replace 'Education Degree' with the column name you want to use
column_name = 'Company Details Size'

# Count the occurrences of each unique value in the specified column
value_counts = df[column_name].value_counts()

# Create a pie chart
plt.figure(figsize=(10,10))
plt.pie(value_counts, labels=value_counts.index, autopct='%1.1f%%', startangle=140)

# Add a title
plt.title('Distribution of Alumni by Company Size')

# Display the chart
plt.axis('equal')
plt.show()

#### Alumni Count by Company Type

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 8))

# Get the value counts
value_counts = df['Company Type'].value_counts().head(10)

# Calculate the total count
total_count = 843

# Calculate percentages
percentages = (value_counts / total_count) * 100

# Plot the bar chart
ax = value_counts.plot(kind='bar')

# Add count and percentage labels above each bar in vertical alignment
for i, (count, percentage) in enumerate(zip(value_counts, percentages)):
    plt.text(i, count + 1, f"{count}({percentage:.2f}%)", ha='center', va='bottom')
    # plt.text(i, count - 3, f"({percentage:.2f}%)", ha='center', va='top', rotation=90)

# Set labels and title
plt.xlabel('Company Type')
plt.ylabel('Count')
plt.title('Alumni Count and Percentage by Company Type')

# Add description at the top right corner
# description = "This chart displays the count and percentage of alumni by Company Type."
# plt.text(0.85, 0.95, description, transform=ax.transAxes, fontsize=10, ha='right', va='top')

# Show the chart
plt.tight_layout()  # Ensure the labels fit within the figure
plt.show()

#### Distribution of Alumni by Company Type

In [ ]:
# Replace 'Education Degree' with the column name you want to use
column_name = 'Company Type'

# Count the occurrences of each unique value in the specified column
value_counts = df[column_name].value_counts()

# Create a pie chart
plt.figure(figsize=(10,10))
plt.pie(value_counts, labels=value_counts.index, autopct='%1.1f%%', startangle=140)

# Add a title
plt.title('Distribution of Alumni by Company Type')

# Display the chart
plt.axis('equal')
plt.show()

### **Correlations**

#### Seasonal Hiring Trend Over Time

In [ ]:
# Extract the 'Employment Start Month' and 'Employment Start Year' columns
start_month_year = df[['Employment Start Month', 'Employment Start Year']]


# Create a pivot table to count the occurrences of each month-year combination
pivot_table = start_month_year.pivot_table(index='Employment Start Month', columns='Employment Start Year', aggfunc='size', fill_value=0)

# Create a heatmap to visualize the seasonal hiring trends
plt.figure(figsize=(12, 8))
sns.heatmap(pivot_table, cmap='YlGnBu', annot=True, fmt='d', cbar=True, linewidths=0.5)

# Add labels and title
plt.xlabel('Employment Start Year')
plt.ylabel('Employment Start Month')
plt.title('Seasonal Hiring Trends Over Time')

# Show the plot
plt.show()

#### Alumni Counts per Education Degree, Major and Industry

In [ ]:
# Filter relevant columns (adjust column names as needed)
df = df[['Education Degree', 'Education Subject', 'Company Industry Name']]

# Group and aggregate the data
education_major_industry_counts = df.groupby(['Education Subject', 'Education Degree', 'Company Industry Name']).size().reset_index(name='Count')

# Sort the results by count in descending order to find the top industries
top_industries_by_education_major = education_major_industry_counts.sort_values(by='Count', ascending=False)

top_uni = pd.DataFrame(top_industries_by_education_major)
top_uni.head(50)

#### Heatmap: Alumni Education Major vs. Education Degree

In [ ]:
# Get the top 15 Education Degrees based on counts
top_10_degrees = df['Education Subject'].value_counts().head(10).index

# Filter the dataframe to include only the top 15 Education Degrees
df = df[df['Education Subject'].isin(top_10_degrees)]

# Pivot the filtered DataFrame to get a matrix of counts
heatmap_data = df.pivot_table(index='Education Degree', columns='Education Subject', aggfunc='size', fill_value=0)

# Create the heatmap
plt.figure(figsize=(10, 6))  # Adjust the figure size as needed
sns.heatmap(heatmap_data, annot=True, cmap='YlGnBu', fmt='d')  # 'fmt' specifies format for annotations (integers)
plt.xlabel('Education Subject')
plt.ylabel('Education Degree')
plt.title('Heatmap: Top 10 Education Degrees vs. Education Subjects')
plt.show()

In [ ]:
# # Pivot the DataFrame to get a matrix of counts
# heatmap_data = df.pivot_table(index='Education Degree', columns='Education Subject', aggfunc='size', fill_value=0)

# # Create the heatmap
# plt.figure(figsize=(50,20))  # Adjust the figure size as needed
# sns.heatmap(heatmap_data, annot=True, cmap='YlGnBu', fmt='d')  # 'fmt' specifies format for annotations (integers)
# plt.xlabel('Education Degree')
# plt.ylabel('Education Subject')
# plt.title('Heatmap: Alumni Education Major vs. Education Degree')
# plt.show()

#### Heatmap: Alumni Employment Industry vs. Education Degree

In [ ]:
# # Pivot the DataFrame to get a matrix of counts
# heatmap_data = df.pivot_table(index='Education Degree', columns='Company Industry Name', aggfunc='size', fill_value=0)

# # Create the heatmap
# plt.figure(figsize=(50,20))  # Adjust the figure size as needed
# sns.heatmap(heatmap_data, annot=True, cmap='YlGnBu', fmt='d')  # 'fmt' specifies format for annotations (integers)
# plt.xlabel('Education Degree')
# plt.ylabel('Company Industry Name')
# plt.title('Heatmap: Alumni Employment Industry vs. Education Degree')
# plt.show()

# Get the top 15 Education Degrees based on counts
top_10_degrees = df['Company Industry Name'].value_counts().head(10).index

# Filter the dataframe to include only the top 15 Education Degrees
df = df[df['Company Industry Name'].isin(top_10_degrees)]

# Pivot the filtered DataFrame to get a matrix of counts
heatmap_data = df.pivot_table(index='Education Degree', columns='Company Industry Name', aggfunc='size', fill_value=0)

# Create the heatmap
plt.figure(figsize=(10,6))  # Adjust the figure size as needed
sns.heatmap(heatmap_data, annot=True, cmap='YlGnBu', fmt='d')  # 'fmt' specifies format for annotations (integers)
plt.xlabel('Industry')
plt.ylabel('Education Degree')
plt.title('Heatmap: Top 10 Education Degrees vs. Company Industry Name')
plt.show()

In [ ]:
#df = pd.read_csv(url)

#### Heatmap: Alumni Employment Company Type vs. Education Degree

In [ ]:
df = pd.read_csv('../datasets/alumni_dataset.csv', encoding='latin1')

In [ ]:
# Pivot the DataFrame to get a matrix of counts
heatmap_data = df.pivot_table(index='Education Degree', columns='Company Type', aggfunc='size', fill_value=0)

# Create the heatmap
plt.figure(figsize=(10,6))  # Adjust the figure size as needed
sns.heatmap(heatmap_data, annot=True, cmap='YlGnBu', fmt='d')  # 'fmt' specifies format for annotations (integers)
plt.xlabel('Education Degree')
plt.ylabel('Company Type')
plt.title('Heatmap: Alumni Employment Company Type vs. Education Degree')
plt.show()

#### Heatmap: Alumni Employment Location State vs. Education Degree

In [ ]:
# # Pivot the DataFrame to get a matrix of counts
# heatmap_data = df.pivot_table(index='Education Degree', columns='Location State', aggfunc='size', fill_value=0)

# # Create the heatmap
# plt.figure(figsize=(25,15))  # Adjust the figure size as needed
# sns.heatmap(heatmap_data, annot=True, cmap='YlGnBu', fmt='d')  # 'fmt' specifies format for annotations (integers)
# plt.xlabel('Education Degree')
# plt.ylabel('location State')
# plt.title('Heatmap: Alumni Employment Location State vs. Education Degree')
# plt.show()

# Get the top 15 Education Degrees based on counts
top_10_degrees = df['Location State'].value_counts().head(10).index

# Filter the dataframe to include only the top 15 Education Degrees
df = df[df['Location State'].isin(top_10_degrees)]

# Pivot the filtered DataFrame to get a matrix of counts
heatmap_data = df.pivot_table(index='Education Degree', columns='Location State', aggfunc='size', fill_value=0)

# Create the heatmap
plt.figure(figsize=(10,6))  # Adjust the figure size as needed
sns.heatmap(heatmap_data, annot=True, cmap='YlGnBu', fmt='d')  # 'fmt' specifies format for annotations (integers)
plt.xlabel('Education Degree')
plt.ylabel('location State')
plt.title('Heatmap: Alumni Employment Location State vs. Education Degree')
plt.show()

### Heatmap: Alumni Education Degree vs. Location Country

In [ ]:
# # Pivot the DataFrame to get a matrix of counts
# heatmap_data = df.pivot_table(index='Education Degree', columns='Location State', aggfunc='size', fill_value=0)

# # Create the heatmap
# plt.figure(figsize=(25,15))  # Adjust the figure size as needed
# sns.heatmap(heatmap_data, annot=True, cmap='YlGnBu', fmt='d')  # 'fmt' specifies format for annotations (integers)
# plt.xlabel('Education Degree')
# plt.ylabel('location State')
# plt.title('Heatmap: Alumni Employment Location State vs. Education Degree')
# plt.show()

# Get the top 15 Education Degrees based on counts
top_10_degrees = df['Location Country'].value_counts().head(10).index

# Filter the dataframe to include only the top 15 Education Degrees
df = df[df['Location Country'].isin(top_10_degrees)]

# Pivot the filtered DataFrame to get a matrix of counts
heatmap_data = df.pivot_table(index='Education Degree', columns='Location Country', aggfunc='size', fill_value=0)

# Create the heatmap
plt.figure(figsize=(10,6))  # Adjust the figure size as needed
sns.heatmap(heatmap_data, annot=True, cmap='YlGnBu', fmt='d')  # 'fmt' specifies format for annotations (integers)
plt.xlabel('Education Degree')
plt.ylabel('location Country')
plt.title('Heatmap: Alumni Employment Location Country vs. Education Degree')
plt.show()

#### Heatmap: Alumni Employment Company Size vs. Industry

In [ ]:
# # Pivot the DataFrame to get a matrix of counts
# heatmap_data = df.pivot_table(index='Company Industry Name', columns='Company Details Size', aggfunc='size', fill_value=0)

# # Create the heatmap
# plt.figure(figsize=(30,30))  # Adjust the figure size as needed
# sns.heatmap(heatmap_data, annot=True, cmap='YlGnBu', fmt='d')  # 'fmt' specifies format for annotations (integers)
# plt.xlabel('Company Size')
# plt.ylabel('Industry')
# plt.title('Heatmap: Alumni Employment Company Size vs. Industry')
# plt.show()


# Get the top 15 Education Degrees based on counts
top_10_degrees = df['Company Industry Name'].value_counts().head(10).index

# Filter the dataframe to include only the top 15 Education Degrees
df = df[df['Company Industry Name'].isin(top_10_degrees)]

# Pivot the filtered DataFrame to get a matrix of counts
heatmap_data = df.pivot_table(index='Company Details Size', columns='Company Industry Name', aggfunc='size', fill_value=0)

# Create the heatmap
plt.figure(figsize=(10,6))  # Adjust the figure size as needed
sns.heatmap(heatmap_data, annot=True, cmap='YlGnBu', fmt='d')  # 'fmt' specifies format for annotations (integers)
plt.xlabel('Company Size')
plt.ylabel('Industry')
plt.title('Heatmap: Alumni Employment Company Size vs. Industry')
plt.show()

#### Heatmap: Alumni Employment Company Type vs. Industry

In [ ]:
# # Pivot the DataFrame to get a matrix of counts
# heatmap_data = df.pivot_table(index='Company Industry Name', columns='Company Type', aggfunc='size', fill_value=0)

# # Create the heatmap
# plt.figure(figsize=(30,30))  # Adjust the figure size as needed
# sns.heatmap(heatmap_data, annot=True, cmap='YlGnBu', fmt='d')  # 'fmt' specifies format for annotations (integers)

# Get the top 15 Education Degrees based on counts
top_10_degrees = df['Company Industry Name'].value_counts().head(10).index

# Filter the dataframe to include only the top 15 Education Degrees
df = df[df['Company Industry Name'].isin(top_10_degrees)]

# Pivot the filtered DataFrame to get a matrix of counts
heatmap_data = df.pivot_table(index='Company Type', columns='Company Industry Name', aggfunc='size', fill_value=0)

# Create the heatmap
plt.figure(figsize=(10,6))  # Adjust the figure size as needed
sns.heatmap(heatmap_data, annot=True, cmap='YlGnBu', fmt='d')  # 'fmt' specifies format for annotations (integers)
plt.xlabel('Company Type')
plt.ylabel('Industry')
plt.title('Heatmap: Alumni Employment Company Type vs. Industry')
plt.show()

#### Heatmap: Alumni Employment Country vs. Industry

In [ ]:
# # Pivot the DataFrame to get a matrix of counts
# heatmap_data = df.pivot_table(index='Company Industry Name', columns='Location Country', aggfunc='size', fill_value=0)

# # Create the heatmap
# plt.figure(figsize=(30,30))  # Adjust the figure size as needed
# sns.heatmap(heatmap_data, annot=True, cmap='YlGnBu', fmt='d')  # 'fmt' specifies format for annotations (integers)

# Get the top 15 Education Degrees based on counts
top_10_degrees = df['Company Industry Name'].value_counts().head(10).index

# Filter the dataframe to include only the top 15 Education Degrees
df = df[df['Company Industry Name'].isin(top_10_degrees)]

# Pivot the filtered DataFrame to get a matrix of counts
heatmap_data = df.pivot_table(index='Location Country', columns='Company Industry Name', aggfunc='size', fill_value=0)

# Create the heatmap
plt.figure(figsize=(10,6))  # Adjust the figure size as needed
sns.heatmap(heatmap_data, annot=True, cmap='YlGnBu', fmt='d')  # 'fmt' specifies format for annotations (integers)

plt.xlabel('Location Country')
plt.ylabel('Industry')
plt.title('Heatmap: Alumni Employment Country vs. Industry')
plt.show()

#### Heatmap: Alumni Employment Location State vs. Industry

In [ ]:
# # Pivot the DataFrame to get a matrix of counts
# heatmap_data = df.pivot_table(index='Company Industry Name', columns='Location State', aggfunc='size', fill_value=0)

# # Create the heatmap
# plt.figure(figsize=(30,30))  # Adjust the figure size as needed
# sns.heatmap(heatmap_data, annot=True, cmap='YlGnBu', fmt='d')  # 'fmt' specifies format for annotations (integers)

# Get the top 15 Education Degrees based on counts
top_10_degrees = df['Company Industry Name'].value_counts().head(10).index

# Filter the dataframe to include only the top 15 Education Degrees
df = df[df['Company Industry Name'].isin(top_10_degrees)]

# Pivot the filtered DataFrame to get a matrix of counts
heatmap_data = df.pivot_table(index='Company Industry Name', columns='Location State', aggfunc='size', fill_value=0)

# Create the heatmap
plt.figure(figsize=(10,6))  # Adjust the figure size as needed
sns.heatmap(heatmap_data, annot=True, cmap='YlGnBu', fmt='d')  # 'fmt' specifies format for annotations (integers)

plt.xlabel('Location State')
plt.ylabel('Industry')
plt.title('Heatmap: Alumni Employment Location State vs. Industry')
plt.show()

#### Heatmap: Alumni Employment Location State vs. Country

In [ ]:
# # Pivot the DataFrame to get a matrix of counts
# heatmap_data = df.pivot_table(index='Location Country', columns='Location State', aggfunc='size', fill_value=0)

# # Create the heatmap
# plt.figure(figsize=(30,15))  # Adjust the figure size as needed
# sns.heatmap(heatmap_data, annot=True, cmap='YlGnBu', fmt='d')  # 'fmt' specifies format for annotations (integers)

# Get the top 15 Education Degrees based on counts
top_10_degrees = df['Location State'].value_counts().head(15).index

# Filter the dataframe to include only the top 15 Education Degrees
df = df[df['Location State'].isin(top_10_degrees)]

# Pivot the filtered DataFrame to get a matrix of counts
heatmap_data = df.pivot_table(index='Location Country', columns='Location State', aggfunc='size', fill_value=0)

# Create the heatmap
plt.figure(figsize=(10,6))  # Adjust the figure size as needed
sns.heatmap(heatmap_data, annot=True, cmap='YlGnBu', fmt='d')  # 'fmt' specifies format for annotations (integers)

plt.xlabel('Location State')
plt.ylabel('Location Country')
plt.title('Heatmap: Alumni Employment Location State vs. Country')
plt.show()

#### Heatmap: Alumni Employment Location State vs. City

In [ ]:
# # Pivot the DataFrame to get a matrix of counts
# heatmap_data = df.pivot_table(index='Location City', columns='Location State', aggfunc='size', fill_value=0)

# # Create the heatmap
# plt.figure(figsize=(30,50))  # Adjust the figure size as needed
# sns.heatmap(heatmap_data, annot=True, cmap='YlGnBu', fmt='d')  # 'fmt' specifies format for annotations (integers)
# Get the top 15 Education Degrees based on counts
top_10_degrees = df['Location City'].value_counts().head(15).index

# Filter the dataframe to include only the top 15 Education Degrees
df = df[df['Location City'].isin(top_10_degrees)]

# Pivot the filtered DataFrame to get a matrix of counts
heatmap_data = df.pivot_table(index='Location State', columns='Location City', aggfunc='size', fill_value=0)

# Create the heatmap
plt.figure(figsize=(10,6))  # Adjust the figure size as needed
sns.heatmap(heatmap_data, annot=True, cmap='YlGnBu', fmt='d')  # 'fmt' specifies format for annotations (integers)


plt.xlabel('Location State')
plt.ylabel('Location City')
plt.title('Heatmap: Alumni Employment Location State vs. City')
plt.show()

# **Predictive Analysis**

## **1. Clustering**

This code performs clustering on the alumni dataset using K-Means, where it selects relevant features such as 'Education Major,' 'Location City,' and 'Company Industry Name.' It preprocesses these features by scaling numerical data and one-hot encoding categorical data. It then applies K-Means clustering with three clusters and calculates the Silhouette Score to evaluate the clustering quality. The 'Cluster' column in the dataset contains cluster labels assigned to each alumni based on the selected features.

In [ ]:
df = pd.read_csv('../datasets/alumni_dataset.csv', encoding='latin1')

In [ ]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import silhouette_score

# Load your alumni dataset
# data = pd.read_csv(df)

# Select the relevant features for clustering (e.g., 'Education Major', 'Location City', 'Company Industry Name')
selected_features_for_clustering = df[['Education Major', 'Location City', 'Company Industry Name']]

# Preprocessing for numerical and categorical features
numerical_features = selected_features_for_clustering.select_dtypes(include=['int64', 'float64']).columns
categorical_features = selected_features_for_clustering.select_dtypes(include=['object']).columns

# Create a preprocessing pipeline for numerical and categorical features
numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())])

categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numerical_features),
        ('cat', categorical_transformer, categorical_features)])

# Combine preprocessing with clustering using K-Means
pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                           ('clusterer', KMeans(n_clusters=3, random_state=42))])  # You can specify the number of clusters

# Fit the pipeline to your data
pipeline.fit(selected_features_for_clustering)

# Add cluster labels to the original dataset
df['Cluster'] = pipeline.named_steps['clusterer'].labels_

# Calculate Silhouette Score based on the numerical features used for clustering
silhouette_avg = silhouette_score(pipeline.transform(selected_features_for_clustering), df['Cluster'])

print(f'Silhouette Score: {silhouette_avg}')

# Now, the 'Cluster' column in your dataset contains the cluster labels assigned to each alumni based on mixed features.

In [ ]:

from google.colab import drive

drive.mount('/content/drive')

import pandas as pd

df = pd.read_csv('/content/drive/My Drive/alumni_dataset_2.csv')

1. The code loads an alumni dataset and selects specific features ('Education Major', 'Location City', 'Company Industry Name') for clustering.

2. It preprocesses the numerical features by scaling them and the categorical features by one-hot encoding them. The preprocessing steps are combined into a pipeline.

3. The K-Means clustering algorithm is applied to the preprocessed data, with the option to specify the number of clusters (in this case, 3). Cluster labels are added to the original dataset.

4. Principal Component Analysis (PCA) is performed to reduce the dimensionality of the data to 2D for visualization.

5. A scatter plot is created to visualize the clusters in 2D space using the first two principal components (PCA1 and PCA2).

The code combines preprocessing, clustering, and visualization to explore clusters within the dataset based on selected features.

In [ ]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import silhouette_score
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt

# Load your alumni dataset
# data = pd.read_csv(url)

# Select the relevant features for clustering (e.g., 'Education Major', 'Location City', 'Company Industry Name')
selected_features_for_clustering = df[['Education Major', 'Location City', 'Company Industry Name']]

# Preprocessing for numerical and categorical features
numerical_features = selected_features_for_clustering.select_dtypes(include=['int64', 'float64']).columns
categorical_features = selected_features_for_clustering.select_dtypes(include=['object']).columns

# Create a preprocessing pipeline for numerical and categorical features
numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())])

categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numerical_features),
        ('cat', categorical_transformer, categorical_features)])

# Combine preprocessing with clustering using K-Means
pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                           ('clusterer', KMeans(n_clusters=3, random_state=42))])  # You can specify the number of clusters

# Fit the pipeline to your data
pipeline.fit(selected_features_for_clustering)

# Add cluster labels to the original dataset
df['Cluster'] = pipeline.named_steps['clusterer'].labels_

# Perform PCA to reduce dimensions for visualization (2D)
pca = PCA(n_components=2)
reduced_features = pca.fit_transform(pipeline.transform(selected_features_for_clustering))

# Add reduced features to the dataset for visualization
df['PCA1'] = reduced_features[:, 0]
df['PCA2'] = reduced_features[:, 1]

# Create a scatter plot to visualize the clusters with cluster labels
plt.figure(figsize=(10, 6))
cluster_names = {
    0: "Technology Innovators",
    1: "Business Leaders",
    2: "Academic Professionals"
}

for cluster, name in cluster_names.items():
    cluster_data = df[df['Cluster'] == cluster]
    plt.scatter(cluster_data['PCA1'], cluster_data['PCA2'], label=name, alpha=0.6)

plt.title('Cluster Visualization')
plt.xlabel('PCA1')
plt.ylabel('PCA2')
plt.legend()
plt.grid(True)
plt.show()

## **2. Classification**

### **Classification of Job Industry Based on Education Degree and Education Major**

This Python code accomplishes the following tasks:

1. Combines 'Education Degree' and 'Education Major' columns into a single feature named 'Education Combination' to create input data for text classification.

2. Assigns labels to industry categories ('Company Industry Name') by factorizing them, effectively converting them into numerical target values.

3. Splits the data into training and testing sets, with 99.5% of the data used for training and 0.5% for testing.

4. Utilizes TF-IDF vectorization to convert the textual 'Education Combination' data into numerical features for both the training and testing datasets.

5. Trains a Random Forest classifier with 100 estimators and a fixed random state for reproducibility.

6. Predicts industry categories for the test data using the trained classifier.

The 'target_names' variable is used to store the unique industry names/classes from the dataset, which can be helpful for interpreting the classification report and understanding the different industry categories predicted by the model.

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

# Load your alumni dataset
# data = pd.read_csv(url)

# Combine 'Education Degree' and 'Education Major' into 'Education Combination'
df['Education Combination'] = df['Education Degree'].fillna('') + ' ' + df['Education Major'].fillna('')

# Assign labels to industry categories (classes)
df['Industry Category'] = pd.factorize(df['Company Industry Name'])[0]

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df['Education Combination'], df['Industry Category'], test_size=0.005, random_state=42)

# TF-IDF vectorization
tfidf_vectorizer = TfidfVectorizer(max_features=5000, stop_words='english')
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train.astype(str))  # Convert to string to handle NaN values
X_test_tfidf = tfidf_vectorizer.transform(X_test.astype(str))  # Convert to string to handle NaN values

# Train a Random Forest classifier
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train_tfidf, y_train)

# Predict industry categories for test data
y_pred = clf.predict(X_test_tfidf)

# Ensure that 'target_names' contains the correct unique industry names/classes from your dataset
target_names = df['Company Industry Name'].unique()

In [ ]:
df['Company Industry Name'].value_counts()

In [ ]:
df['Education Degree'].value_counts()

In [ ]:
# Assuming you have a single job title to classify
single_job_title = "Arts Bachelor's Degree"

# Preprocess and vectorize the single value
preprocessed_value = single_job_title  # You should preprocess it similarly to your training data
vectorized_value = tfidf_vectorizer.transform([preprocessed_value])

# Make predictions using the trained classifier
predicted_class = clf.predict(vectorized_value)

# Convert the predicted class label back to the original industry name
predicted_industry = target_names[predicted_class[0]]

print(f"Predicted Industry: {predicted_industry}")

### **Classification of Job Title based on Education Degree and Education Major**

This Python code performs the following tasks:

1. Combines 'Education Degree' and 'Education Major' columns into a single feature named 'Education Combination' to create input data for text classification.

2. Assigns labels to job title categories ('Employment Title') by factorizing them, effectively converting them into numerical target values.

3. Splits the data into training and testing sets, with 99.5% of the data used for training and 0.5% for testing.

4. Utilizes TF-IDF vectorization to convert the textual 'Education Combination' data into numerical features for both the training and testing datasets.

5. Trains a Random Forest classifier with 100 estimators and a fixed random state for reproducibility.

6. Predicts job title categories for the test data using the trained classifier.

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

# Combine 'Education Degree' and 'Education Major' into 'Education Combination'
df['Education Combination'] = df['Education Degree'].fillna('') + ' ' + df['Education Subject'].fillna('')

# Assign labels to industry categories (classes)
df['Job Title Category'] = pd.factorize(df['Employment Title'])[0]

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df['Education Combination'], df['Job Title Category'], test_size=0.005, random_state=42)

# TF-IDF vectorization
tfidf_vectorizer = TfidfVectorizer(max_features=5000, stop_words='english')
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train.astype(str))  # Convert to string to handle NaN values
X_test_tfidf = tfidf_vectorizer.transform(X_test.astype(str))  # Convert to string to handle NaN values

# Train a Random Forest classifier
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train_tfidf, y_train)

# Predict industry categories for test data
y_pred = clf.predict(X_test_tfidf)

In [ ]:
# Ensure that 'target_names' contains the correct unique industry names/classes from your dataset
target_names = df['Employment Title'].unique()

In [ ]:
# Assuming you have a single job title to classify
single_job_title = "Bachelor's Degree on Communication"

# Preprocess and vectorize the single value
preprocessed_value = single_job_title  # You should preprocess it similarly to your training data
vectorized_value = tfidf_vectorizer.transform([preprocessed_value])

# Make predictions using the trained classifier
predicted_class = clf.predict(vectorized_value)

# Convert the predicted class label back to the original industry name
predicted_industry = target_names[predicted_class[0]]

print(f"Predicted Title: {predicted_industry}")

### **Classification of Industry based on Location and Education Degree and Education Major**

This Python code performs the following tasks:

1. Combines relevant features (Location City, Location State, Location Country, Education Degree, and Education Major) into a single feature called 'Education Combination' to create input data for text classification.

2. Trains a Random Forest classifier to predict industry categories based on the 'Education Combination' feature. It uses TF-IDF vectorization to convert text data into numerical features for both training and testing datasets.

3. Evaluates the classifier's performance by generating a classification report, which includes metrics such as precision, recall, and F1-score, for each industry category.

4. Ensure that 'target_names' contains the correct unique industry names/classes from the dataset for classification reporting.

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

# Combine 'Education Degree' and 'Education Major' into 'Education Combination'
df['Education Combination'] = df['Location City'].fillna('') + ' ' + df['Location State'].fillna('') + ' ' + df['Location Country'].fillna('') + ' ' + df['Education Degree'].fillna('') + ' ' + df['Education Major'].fillna('')

# Assign labels to industry categories (classes)
df['Industry Category'] = pd.factorize(df['Company Industry Name'])[0]

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df['Education Combination'], df['Industry Category'], test_size=0.005, random_state=42)

# TF-IDF vectorization
tfidf_vectorizer = TfidfVectorizer(max_features=5000, stop_words='english')
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train.astype(str))  # Convert to string to handle NaN values
X_test_tfidf = tfidf_vectorizer.transform(X_test.astype(str))  # Convert to string to handle NaN values

# Train a Random Forest classifier
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train_tfidf, y_train)

# Predict industry categories for test data
y_pred = clf.predict(X_test_tfidf)

# Ensure that 'target_names' contains the correct unique industry names/classes from your dataset
target_names = df['Company Industry Name'].unique()

In [ ]:
# Assuming you have a single job title to classify
single_job_title = "Sydney, New South Wales, Australia, Bachelor's Degree on Medicine"

# Preprocess and vectorize the single value
preprocessed_value = single_job_title  # You should preprocess it similarly to your training data
vectorized_value = tfidf_vectorizer.transform([preprocessed_value])

# Make predictions using the trained classifier
predicted_class = clf.predict(vectorized_value)

# Convert the predicted class label back to the original industry name
predicted_industry = target_names[predicted_class[0]]

print(f"Predicted Industry: {predicted_industry}")

### **3. Recommendation System**

This Python code recommends job titles from an alumni dataset based on user input for their education combination (degree and subject). It utilizes TF-IDF vectorization and cosine similarity to calculate similarity scores between the user's profile and job profiles. The top 5 recommended jobs, along with their associated companies and similarity scores, are displayed as output.

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Preprocess the data and combine relevant features (e.g., Education Degree and Major)
df['Education Combination'] = df['Education Degree'].fillna('') + ' ' + df['Education Subject'].fillna('')

# -------------------------Create user profile (customize this based on user input)---------------------------------------------
user_profile = {
    'Education Combination': 'Bachelor of Commercial'  # Example user profile
}

# TF-IDF vectorization
tfidf_vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf_vectorizer.fit_transform(df['Education Combination'])

# Vectorize the user profile
user_vector = tfidf_vectorizer.transform([user_profile['Education Combination']])

# Calculate cosine similarity between user profile and job profiles
cosine_sim = cosine_similarity(user_vector, tfidf_matrix)

# Get recommended job indices based on similarity scores
similar_jobs = list(enumerate(cosine_sim[0]))
sorted_jobs = sorted(similar_jobs, key=lambda x: x[1], reverse=True)

# Display the top recommended jobs (you can adjust the number of recommendations)
top_recommendations = sorted_jobs[:5]  # Here, we recommend the top 5 jobs
for job_idx, similarity_score in top_recommendations:
    print(f'Job Title: {df["Employment Title"][job_idx]}')
    print(f'Company: {df["Employment Company Name"][job_idx]}')
    print(f'Similarity Score: {similarity_score:.2f}')
    print('-' * 40)

### **Analyze employment titles using NLP techniques to identify common keywords, skills, or qualifications associated with specific job roles.**

This Python code preprocesses employment titles from a dataset by tokenizing, lowercasing, and removing stopwords. It then performs topic modeling using Latent Dirichlet Allocation (LDA) and visualizes the distribution of topics for a specific job role, allowing you to analyze the most relevant topics associated with that role.

Please replace the "job_role" variable with the specific job title you want to analyze to see its topic distribution.

In [ ]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import LatentDirichletAllocation
import matplotlib.pyplot as plt
import nltk
nltk.download('stopwords')
import nltk
nltk.download('punkt')

# # Load your dataset
# data = pd.read_csv(url)

# Preprocess the employment titles
stop_words = set(stopwords.words('english'))  # NLTK stopwords

# Tokenize and preprocess the titles
def preprocess_title(title):
    tokens = nltk.word_tokenize(title.lower())  # Tokenization and lowercase
    tokens = [t for t in tokens if t.isalpha() and t not in stop_words]  # Remove non-alphabetic and stopwords
    return " ".join(tokens)

df['Processed Title'] = df['Employment Title'].apply(preprocess_title)

# TF-IDF Vectorization
tfidf_vectorizer = TfidfVectorizer(max_features=1000, max_df=0.85)
tfidf_matrix = tfidf_vectorizer.fit_transform(df['Processed Title'])

# Topic Modeling using LDA
num_topics = 5  # You can adjust this number
lda = LatentDirichletAllocation(n_components=num_topics, random_state=42)
lda.fit(tfidf_matrix)

# Get top keywords for each topic
def get_top_keywords(model, feature_names, n_words=10):
    topic_keywords = []
    for topic_idx, topic in enumerate(model.components_):
        top_keywords_idx = topic.argsort()[:-n_words - 1:-1]
        top_keywords = [feature_names[i] for i in top_keywords_idx]
        topic_keywords.append(top_keywords)
    return topic_keywords

feature_names = tfidf_vectorizer.get_feature_names_out()
topic_keywords = get_top_keywords(lda, feature_names)

# Visualize top keywords for each topic
for i, keywords in enumerate(topic_keywords):
    print(f"Keyword Topic {i + 1}: {', '.join(keywords)}")

# Plot the distribution of topics
topic_distribution = lda.transform(tfidf_matrix)
topic_distribution_df = pd.DataFrame(topic_distribution, columns=[f'Topic {i}' for i in range(1, num_topics + 1)])
df = pd.concat([df, topic_distribution_df], axis=1)




# --------------------------------Replace with the job role you want to analyze-----------------------------------------
job_role = "Program Manager"



# Plot the distribution of topics for a specific job role
job_data = df[df['Employment Title'] == job_role]
topic_weights = job_data.iloc[:, -num_topics:]  # Extract topic weights for the job role
topic_weights = topic_weights.mean()  # Calculate mean weights across job instances
plt.bar(range(1, num_topics + 1), topic_weights)
plt.xlabel('Keyword Topic')
plt.ylabel('Topic Weight')
plt.title(f'Topic Distribution for {job_role}')
plt.show()

### **Company Type Classification**

This Python code uses a Random Forest classifier to predict "Company Type" based on various features from an alumni dataset. It handles missing values by filling them with 'Unknown,' encodes categorical variables, and achieves classification performance evaluation with a classification report.

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

# # Load your alumni dataset
# data = pd.read_csv(url)

# Data preprocessing
# Handle missing values by filling them with 'Unknown' for categorical columns
categorical_columns = ['Education Degree', 'Education Subject', 'Location City', 'Location State', 'Location Country', 'Company Industry Name', 'Company Details Size', 'Company Type']
df[categorical_columns] = df[categorical_columns].fillna('Unknown')

# Select features and target variable
features = ['Education Degree', 'Education Subject', 'Location City', 'Location State', 'Location Country', 'Company Industry Name', 'Company Details Size']
target = 'Company Type'

# Encode categorical variables
label_encoders = {}
for feature in features:
    label_encoders[feature] = LabelEncoder()
    df[feature] = label_encoders[feature].fit_transform(df[feature])

# Split data into training and testing sets
X = df[features]
y = df[target]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Choose and train a classification model (Random Forest in this example)
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = clf.predict(X_test)

# Evaluate the model's performance
classification_rep = classification_report(y_test, y_pred)
print('Classification Report:\n', classification_rep)

In [ ]:
# Example: Predict the Company Type for a single data point
single_data_point = {
    'Education Degree': 'Master\'s Degree',
    'Education Subject': 'Computer Science',
    'Location City': 'Sydney',
    'Location State': 'New South Wales',
    'Location Country': 'Australia',
    'Company Industry Name': 'Information Technology and Services',
    'Company Details Size': '1001-5000 employees'
}
single_data_df = pd.DataFrame([single_data_point])
for feature in features:
    single_data_df[feature] = label_encoders[feature].transform(single_data_df[feature])

predicted_company_type = clf.predict(single_data_df[features])
print(f"Predicted Company Type: {predicted_company_type[0]}")

## **4. Trend analysis**

This Python code utilizes the Facebook Prophet library to forecast trends in the "Employment Start Year" column of a dataset. It renames the columns for compatibility with Prophet, initializes the model, fits it to the data, and creates a future dataframe for predictions. Finally, it plots the historical and forecasted trends over a specified period (here, the next 5 years) for visual analysis of employment start years.

In [ ]:
import pandas as pd
# !pip install fbprophet
from prophet import Prophet
import matplotlib.pyplot as plt

# # Load your dataset into a pandas DataFrame
# data = pd.read_csv(url)

# Rename columns for Prophet compatibility
df.rename(columns={'Employment Captured Date': 'ds', 'Employment Start Year': 'y'}, inplace=True)

# Initialize Prophet model
model = Prophet()

# Fit the model to your data
model.fit(df)

# Create a future dataframe for prediction (e.g., forecasting for the next 5 years)
future = model.make_future_dataframe(periods=5, freq='Y')

# Make predictions
forecast = model.predict(future)

# Plot the historical and forecasted trend
fig = model.plot(forecast)
plt.xlabel('Year')
plt.ylabel('Employment Start Year')
plt.title('Trend Forecast for Employment Start Year')
plt.show()

In [ ]:
df['Company Industry Name'].value_counts().head()

### **Trends of Selected industries over Time**


This code provides a clear visual representation of trends in the selected industries over time, allowing us to identify which industries have seen growth or decline in terms of employment counts.

In [ ]:

from google.colab import drive

drive.mount('/content/drive')

import pandas as pd

df = pd.read_csv('/content/drive/My Drive/alumni_dataset_2.csv')

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt



# Ensure 'Employment Captured Date' is in datetime format
df['Employment Captured Date'] = pd.to_datetime(df['Employment Captured Date'])

# Extract year from 'Employment Captured Date'
df['Year'] = df['Employment Captured Date'].dt.year

# Group by 'Year' and 'Company Industry Name' and count the number of records
industry_counts = df.groupby(['Year', 'Company Industry Name']).size().reset_index(name='Counts')

# Pivot the data for better visualization
pivot_table = industry_counts.pivot(index='Year', columns='Company Industry Name', values='Counts')

# Plot the trends for selected industries
selected_industries = ['Hospital & Health Care', 'Higher Education', 'Government Administration', 'Financial Services', 'Construction']  # Replace with your industry names
pivot_table[selected_industries].plot(kind='line', marker='o', figsize=(12, 6))
plt.title('Trends in Selected Industries Over Time')
plt.xlabel('Year')
plt.ylabel('Employment Count')
plt.legend(loc='upper left')
plt.grid(True)
plt.show()