In [6]:
import pandas as pd

In [7]:
url ="../datasets/alumni_dataset_1290.csv"
df = pd.read_csv(url)

# Filter rows where 'Education Subject' contains the word 'Business'
business_df = df[df['Education Subject'].str.contains('Business', case=False, na=False)]

# Save the filtered dataset to a new CSV file
business_df.to_csv('../datasets/business_dataset.csv', index=False)

print("Dataset created successfully!")

Dataset created successfully!

In [8]:
business_df.columns

Index(['Person Full Name', 'Person First Name', 'Person Last Name',
       'Employment Title', 'Job Title Category', 'Employment Company Name',
       'Employment Start Month', 'Employment Start Year',
       'Company Industry Name', 'Company Details Size', 'Company Type',
       'Location City', 'Location State', 'Location Country',
       'Education Major', 'Education Subject', 'Education Degree',
       'Education Start Date', 'Education End Date', 'Unnamed: 19'],
      dtype='object')

In [9]:
business_df.head()

,Person Full Name,Person First Name,Person Last Name,Employment Title,Job Title Category,Employment Company Name,Employment Start Month,Employment Start Year,Company Industry Name,Company Details Size,Company Type,Location City,Location State,Location Country,Education Major,Education Subject,Education Degree,Education Start Date,Education End Date,Unnamed: 19
3,Lindsey (Clarkson) Jarvis,Lindsey,Jarvis,CS Training Manager,Manager,Toast,3.0,2023,Software Development,1001-5000 employees,Public Company,Summerville,South Carolina,USA,BBA,Business,Exchange Program from Overseas,2004,2004,NaN
14,Tanja Blickfeldt J’rgensen,Tanja,J’rgensen,Seniorrdgiver HR,Manager,OsloMet storbyuniversitetet,3.0,2023,Higher Education,1001-5000 employees,Educational Institution,Kristiansand,Agder,Norway,MBA,Business Administration,Master's Degree,2002,2002,NaN
23,Ellen Higginbottom,Ellen,Higginbottom,Solicitor,NaN,Catherine Henry Lawyers,6.0,2023,Law Practice,11-50 employees,Sole Proprietorship,Newcastle,New South Wales,Australia,BBA,Business,Bachelor's Degree,NaN,NaN,NaN
39,Umit Agis,Umit,Agis,Interim Chief Executive Officer,NaN,Tweddle Child and Family Health Service,6.0,2023,Hospital & Health Care,11-50 employees,Non Profit,Wantirna,Victoria,Australia,"Business Administration and Management, General",Business Administration,PhD,2011,2015,NaN
43,Michael Jacobs,Michael,Jacobs,General Manager,NaN,Water Treatment Services,1.0,2023,Chemicals,11-50 employees,Privately Held,Newcastle,New South Wales,Australia,"Business, Management, Marketing, and Related S...",Business Administration,Master's Degree,2010,2013,NaN